In [1]:
# All imports go here

import pandas as pd
import numpy as np

In [2]:
# Test the sample df

city_market_df = pd.read_csv('sample_file.csv')

print(city_market_df.head())

  period_begin  period_end  period_duration region_type  region_type_id  \
0   2015-06-01  2015-06-30               30       place               6
1   2021-07-01  2021-07-31               30       place               6
2   2014-02-01  2014-02-28               30       place               6
3   2017-09-01  2017-09-30               30       place               6
4   2019-01-01  2019-01-31               30       place               6

   table_id is_seasonally_adjusted         region       city      state  ...  \
0     12602                      f      Moore, OK      Moore   Oklahoma  ...
1     13558                      f       Nixa, MO       Nixa   Missouri  ...
2     29515                      f     Steger, IL     Steger   Illinois  ...
3     15508                      f   Rockport, AR   Rockport   Arkansas  ...
4      6769                      f  Footville, WI  Footville  Wisconsin  ...

  sold_above_list_yoy price_drops  price_drops_mom  price_drops_yoy  \
0            0.005273    0.259375         0.071875              NaN
1                 NaN         NaN              NaN              NaN
2            0.022727    0.203704        -0.117725         0.007625
3                 NaN         NaN              NaN              NaN
4                 NaN         NaN              NaN              NaN

   off_market_in_two_weeks  off_market_in_two_weeks_mom  \
0                 0.330508                    -0.002825
1                 0.000000                          NaN
2                 0.076923                     0.076923
3                 1.000000                          NaN
4                 0.500000                          NaN

   off_market_in_two_weeks_yoy  parent_metro_region  \
0                     0.322244    Oklahoma City, OK
1                          NaN      Springfield, MO
2                    -0.048077          Chicago, IL
3                          NaN          Malvern, AR
4                          NaN       Janesville, WI

   parent_metro_region_metro_code         last_updated
0                         36420.0  2025-03-10 14:20:36
1                         44180.0  2025-03-10 14:20:36
2                         16984.0  2025-03-10 14:20:36
3                         31680.0  2025-03-10 14:20:36
4                         27500.0  2025-03-10 14:20:36

[5 rows x 58 columns]

In [3]:
# Make 'period_begin' datetime object

city_market_df['period_begin'] = pd.to_datetime(city_market_df['period_begin'])

In [4]:
# Make a new col called 'Month' and use 'period_begin'

# List with month names
months = city_market_df['period_begin'].dt.month_name().values

# Test if it works
#print(months)
#print(len(months))

city_market_df['month'] = months

In [ ]:
# Move 'month' to the front DONT DO THIS BECAUSE U DO IT LATER

#cols = ['month'] + [col for col in city_market_df.columns if col != 'month']
#city_market_df = city_market_df[cols]

#print(city_market_df.head())

       month period_begin  period_end  period_duration region_type  \
0       June   2015-06-01  2015-06-30               30       place
1       July   2021-07-01  2021-07-31               30       place
2   February   2014-02-01  2014-02-28               30       place
3  September   2017-09-01  2017-09-30               30       place
4    January   2019-01-01  2019-01-31               30       place

   region_type_id  table_id is_seasonally_adjusted         region       city  \
0               6     12602                      f      Moore, OK      Moore
1               6     13558                      f       Nixa, MO       Nixa
2               6     29515                      f     Steger, IL     Steger
3               6     15508                      f   Rockport, AR   Rockport
4               6      6769                      f  Footville, WI  Footville

   ... sold_above_list_yoy price_drops price_drops_mom  price_drops_yoy  \
0  ...            0.005273    0.259375        0.071875              NaN
1  ...                 NaN         NaN             NaN              NaN
2  ...            0.022727    0.203704       -0.117725         0.007625
3  ...                 NaN         NaN             NaN              NaN
4  ...                 NaN         NaN             NaN              NaN

   off_market_in_two_weeks  off_market_in_two_weeks_mom  \
0                 0.330508                    -0.002825
1                 0.000000                          NaN
2                 0.076923                     0.076923
3                 1.000000                          NaN
4                 0.500000                          NaN

   off_market_in_two_weeks_yoy  parent_metro_region  \
0                     0.322244    Oklahoma City, OK
1                          NaN      Springfield, MO
2                    -0.048077          Chicago, IL
3                          NaN          Malvern, AR
4                          NaN       Janesville, WI

   parent_metro_region_metro_code         last_updated
0                         36420.0  2025-03-10 14:20:36
1                         44180.0  2025-03-10 14:20:36
2                         16984.0  2025-03-10 14:20:36
3                         31680.0  2025-03-10 14:20:36
4                         27500.0  2025-03-10 14:20:36

[5 rows x 59 columns]

In [5]:
# Create new col 'year' with 'period_begin'

years = city_market_df['period_begin'].dt.year.values
#print(years)

city_market_df['year'] = years
#print(city_market_df['year'])

# Move year after month

cols = ['month'] + ['year'] + [col for col in city_market_df.columns if col != 'month' or 'year']
city_market_df = city_market_df[cols]

#print(city_market_df.iloc[982])

In [6]:
# Start cleaning the df

city_market_df = city_market_df.drop(columns=[
    col for col in city_market_df.columns if 'mom' in col.lower() or 'yoy' in col.lower()])

print(city_market_df.head())

       month  year period_begin  period_end  period_duration region_type  \
0       June  2015   2015-06-01  2015-06-30               30       place
1       July  2021   2021-07-01  2021-07-31               30       place
2   February  2014   2014-02-01  2014-02-28               30       place
3  September  2017   2017-09-01  2017-09-30               30       place
4    January  2019   2019-01-01  2019-01-31               30       place

   region_type_id  table_id is_seasonally_adjusted         region  ...  \
0               6     12602                      f      Moore, OK  ...
1               6     13558                      f       Nixa, MO  ...
2               6     29515                      f     Steger, IL  ...
3               6     15508                      f   Rockport, AR  ...
4               6      6769                      f  Footville, WI  ...

  median_dom avg_sale_to_list sold_above_list price_drops  \
0       28.0         0.980668        0.182692    0.259375
1       73.0              NaN        0.000000         NaN
2       50.0         0.967177        0.272727    0.203704
3       26.0         1.000000        0.000000         NaN
4      119.0         0.938086        0.000000         NaN

   off_market_in_two_weeks  parent_metro_region  \
0                 0.330508    Oklahoma City, OK
1                 0.000000      Springfield, MO
2                 0.076923          Chicago, IL
3                 1.000000          Malvern, AR
4                 0.500000       Janesville, WI

   parent_metro_region_metro_code         last_updated      month  year
0                         36420.0  2025-03-10 14:20:36       June  2015
1                         44180.0  2025-03-10 14:20:36       July  2021
2                         16984.0  2025-03-10 14:20:36   February  2014
3                         31680.0  2025-03-10 14:20:36  September  2017
4                         27500.0  2025-03-10 14:20:36    January  2019

[5 rows x 34 columns]

In [7]:
# Check remaining cols

print(city_market_df.columns)

Index(['month', 'year', 'period_begin', 'period_end', 'period_duration',
       'region_type', 'region_type_id', 'table_id', 'is_seasonally_adjusted',
       'region', 'city', 'state', 'state_code', 'property_type',
       'property_type_id', 'median_sale_price', 'median_list_price',
       'median_ppsf', 'median_list_ppsf', 'homes_sold', 'pending_sales',
       'new_listings', 'inventory', 'months_of_supply', 'median_dom',
       'avg_sale_to_list', 'sold_above_list', 'price_drops',
       'off_market_in_two_weeks', 'parent_metro_region',
       'parent_metro_region_metro_code', 'last_updated', 'month', 'year'],
      dtype='object')

In [8]:
# Drop some more~!

city_market_df = city_market_df.drop(columns=['period_begin','period_end','period_duration','region_type',
                             'region_type_id','table_id','is_seasonally_adjusted','median_ppsf', 
                             'median_list_ppsf','off_market_in_two_weeks','last_updated'])

city_market_df = city_market_df.iloc[:, :-2]  # Drop the last two columns

print(city_market_df.columns)

Index(['month', 'year', 'region', 'city', 'state', 'state_code',
       'property_type', 'property_type_id', 'median_sale_price',
       'median_list_price', 'homes_sold', 'pending_sales', 'new_listings',
       'inventory', 'months_of_supply', 'median_dom', 'avg_sale_to_list',
       'sold_above_list', 'price_drops', 'parent_metro_region',
       'parent_metro_region_metro_code'],
      dtype='object')

In [9]:
city_market_df.to_csv('semi-clean_sample_file.csv', index=False)

In [13]:
semi_clean_df = pd.read_csv('semi-clean_sample_file.csv')
print(semi_clean_df[semi_clean_df['city'] == 'Nixa'])

     month  year    region  city     state state_code  \
1     July  2021  Nixa, MO  Nixa  Missouri         MO
2486  July  2015  Nixa, MO  Nixa  Missouri         MO
3520  June  2022  Nixa, MO  Nixa  Missouri         MO

                property_type  property_type_id  median_sale_price  \
1     Multi-Family (2-4 Unit)                 4           249000.0
2486          All Residential                -1           156900.0
3520  Multi-Family (2-4 Unit)                 4           249900.0

      median_list_price  ...  pending_sales  new_listings  inventory  \
1                   NaN  ...            1.0           NaN        NaN
2486           150950.0  ...           62.0          58.0      165.0
3520                NaN  ...            3.0           NaN        1.0

      months_of_supply  median_dom  avg_sale_to_list  sold_above_list  \
1                  NaN        73.0               NaN              0.0
2486               2.7        84.0               NaN              0.0
3520               1.0        42.0               NaN              0.0

      price_drops  parent_metro_region parent_metro_region_metro_code
1             NaN      Springfield, MO                        44180.0
2486          NaN      Springfield, MO                        44180.0
3520          NaN      Springfield, MO                        44180.0

[3 rows x 21 columns]